* {
    margin: 0;
}

.div-container {
    background-color: #d8d2d2;
    min-height: 100vh;
}

.div-pesquisa {
    background-color: rgb(90, 3, 176);
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

img {
    width: 200px;
}

.header {
    height: 100px;
    background-color: white;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}